@model QuanlyquanNet.Data.NhiemVu

@{
    ViewData["Title"] = "Thêm nhiệm vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm nhiệm vụ</h1>

<h4>Nhiệm vụ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TenNhiemVu" class="control-label">Tên nhiệm vụ</label>
                <input asp-for="TenNhiemVu" class="form-control" required />
                <span asp-validation-for="TenNhiemVu" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MoTa" class="control-label">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaPhuThuong" class="control-label">Mã phụ thưởng</label>
                <select asp-for="MaPhuThuong" class="form-control" asp-items="ViewBag.MaPhuThuong">
                    <option value="">-- Chọn phần thưởng --</option>
                </select>
                <span asp-validation-for="MaPhuThuong" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DoKho" class="control-label">Độ khó</label>
                <input asp-for="DoKho" class="form-control" type="number" min="1" max="10" />
                <span asp-validation-for="DoKho" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
