@model IEnumerable<QuanlyquanNet.Data.VaiTro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>Roles</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-lg border-0">
                <img src="https://vieclam.haugiang.gov.vn/MediaUploader/2023/8/114148/logo0211.png" class="card-img-top" alt="@item.TenVaiTro">
                <div class="card-body text-center">
                    <h4 class="card-title text-primary">@Html.DisplayFor(modelItem => item.TenVaiTro)</h4>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <style>
        .card {
            transition: transform 0.3s, box-shadow 0.3s;
            border-radius: 15px;
            overflow: hidden;
        }

            .card:hover {
                transform: translateY(-10px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }

        .card-img-top {
            height: 250px;
            object-fit: cover;
            filter: brightness(90%);
        }

        .card-title {
            font-weight: 600;
            margin-bottom: 1rem;
        }
    </style>
}