<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="https://hrec.vn/Upload/Article/1ea80df2-cd35-4446-a8d1-048a38e47cad/2024%20(5).png" alt="Banner Quản lý quán net" data-aos="fade-in">

    <div class="container d-flex flex-column align-items-center">
        <h2 data-aos="fade-up" data-aos-delay="100">QUẢN LÝ QUÁN NET THÔNG MINH</h2>
        <p data-aos="fade-up" data-aos-delay="200">Hệ thống hỗ trợ giám sát, điều hành, và phát triển quán net hiệu quả</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a href="#about" class="btn-get-started">Bắt đầu ngay</a>
            <a href="https://www.youtube.com/watch?v=wna-qbsVvCk" class="glightbox btn-watch-video d-flex align-items-center">
                <i class="bi bi-play-circle"></i><span>Xem video</span>
            </a>
        </div>
    </div>

</section><!-- /Hero Section -->
