<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>khám phá khu vực ưu chuộng<br></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                    <div class="img">
                        <img src="https://cybercore.vn/wp-content/uploads/2023/11/Asset-140.png" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <a asp-controller="DichVu" asp-action="Detail" class="stretched-link">
                            <h3>💑 KHU VỰC COUPLE💑 </h3>
                        </a>
                        <p>Khu vực Couple là không gian riêng tư, thoải mái dành cho các cặp đôi cùng nhau chơi game và thư giãn trong không gian yên tĩnh, ấm cúng..</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="service-item">
                    <div class="img">
                        <img src="https://img.redbull.com/images/c_crop,w_1920,h_960,x_0,y_0/c_auto,w_1200,h_600/f_auto,q_auto/redbullcom/2020/4/6/rlst6cmqaffuwq2xknup/red-bull-solo-q" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <a asp-controller="User" asp-action="ServiceDetail" class="stretched-link">
                            <h3>
                                🖥️ Khu vực Solo
                            </h3>
                        </a>
                        <p>Không gian tiêu chuẩn dành cho khách hàng cá nhân muốn tập trung chơi game, làm việc hoặc lướt web. Máy cấu hình cao, bố trí hợp lý, đảm bảo sự riêng tư.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                <div class="service-item">
                    <div class="img">
                        <img src="https://photo.znews.vn/w660/Uploaded/livospwi/2021_06_16/7.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <a asp-controller="User" asp-action="ServiceDetail" class="stretched-link">
                            <h3>🎮 Khu vực Thi Đấu Esports</h3>
                        </a>
                        <p>Trang bị máy cấu hình siêu mạnh, ghế gaming chuyên nghiệp, màn hình tần số quét cao – phù hợp cho các game thủ hardcore và thi đấu team.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Services Section -->
