@model QuanlyquanNet.Data.PhuThuong

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";

}

<h1>Edit</h1>

<h4>PhuThuong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaPhuThuong" />
            <div class="form-group">
                <label asp-for="TenPhuThuong" class="control-label"></label>
                <input asp-for="TenPhuThuong" class="form-control" />
                <span asp-validation-for="TenPhuThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiPhuThuong" class="control-label"></label>
                <input asp-for="LoaiPhuThuong" class="form-control" />
                <span asp-validation-for="LoaiPhuThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaTri" class="control-label"></label>
                <input asp-for="GiaTri" class="form-control" />
                <span asp-validation-for="GiaTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiemCanDoi" class="control-label"></label>
                <input asp-for="DiemCanDoi" class="form-control" />
                <span asp-validation-for="DiemCanDoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaVatPham" class="control-label"></label>
                <select asp-for="MaVatPham" class="form-control" asp-items="ViewBag.MaVatPham"></select>
                <span asp-validation-for="MaVatPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
