    @model QuanlyquanNet.Data.NhanVien

    @{
        ViewData["Title"] = "Update";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Update</h1>

    <h4>NhanVien</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Ẩn Mã Nhân Viên -->
                <input type="hidden" asp-for="MaNhanVien" />

                <!-- Hiển thị Mã Người Dùng không cho sửa -->
                <div class="form-group">
                    <label asp-for="MaNguoiDung" class="control-label"></label>
                    <input class="form-control" value="@Model.MaNguoiDung" readonly />
                    <input type="hidden" asp-for="MaNguoiDung" />
                    <span asp-validation-for="MaNguoiDung" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HoTen" class="control-label"></label>
                    <input asp-for="HoTen" class="form-control" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoDienThoai" class="control-label"></label>
                    <input asp-for="SoDienThoai" class="form-control" />
                    <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgayTao" class="control-label"></label>
                    <input asp-for="NgayTao" class="form-control" />
                    <span asp-validation-for="NgayTao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
